@font-face {
    font-family: 'Norwester';
    src: url('fonts/norwester/norwester.eot');
    src: url('fonts/norwester/norwester.eot?#iefix') format('embedded-opentype'),
         url('fonts/norwester/norwester.woff') format('woff'),
         url('fonts/norwester/norwester.ttf') format('truetype'),
         url('fonts/norwester/norwester.svg#webfont') format('svg');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #19191f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #f0f0f0;
    font-size: 18px;
    border-top: 4px solid #1aaecc;
}

header {
    padding: 18px 72px;
    max-width: 650px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Norwester', sans-serif;
    padding: 100px 0 0 0;
    color: #1aaecc;
    font-size: 112px;
    position: relative;
}

h1::before {
    content: "’";
    translate: -50%;
    position: absolute;
    left: -28px;
}

h2 {
    margin-top: 72px;
}

h3 {
    margin-top: 28px;
}

h2, h3 {
    line-height: 125%;
    color: #f0f0f0;
    font-weight: 300;
    font-size: 32px;
}

a {
    color: #1aaecc;
    font-weight: 400;
    text-decoration: none;
    box-shadow:
        inset 0 -4px #19191f,
        inset 0 -6px #1aaecc;
    text-shadow:
        -2px -2px 0 #19191f,
        2px -2px 0 #19191f,
        -2px 2px 0 #19191f,
        2px 2px 0 #19191f;

}

a:visited {
    color: #1a43cc'
}